{% extends 'base.html' %}
{% load static %}
{% block script %}
  <link rel="stylesheet" href="{% static 'allauth_ui/output.css' %}">
{% endblock script %}

{% block main %}
  {% if messages %}
    <div>
      {% for message in messages %}
        <div class="flex justify-center">
          <div class="alert alert-info max-w-lg mx-auto mt-6 font-bold" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <p>{{ message }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% block content %}
    <div class="flex flex-col items-center justify-center">
      <div class="flex flex-col w-full max-w-lg items-center p-12 backdrop-blur rounded shadow-lg grow-0 border border-base-300 my-12">
        {% block whitebox %}
        {% endblock %}
      </div>
    </div>
  {% endblock %}
{% endblock main %}