{% extends 'base.html' %} {% block main %} {% load static %} {% comment %} Vertical Navigation {% endcomment %}
<div
	class="md:h-screen md:w-52 w-full border-r-2 border-base-200 md:fixed flex flex-col justify-between items-center py-4">
	<ul class="md:space-y-4 flex md:flex-col flex-row items-center justify-center">
		<li>
			<a href="" class="btn btn-ghost btn-sm">
				<i class="fa-solid fa-table-columns"></i>
				Dashboard
			</a>
		</li>
		<li>
			<a href="" class="btn btn-ghost btn-sm">
				<i class="fa-solid fa-door-open"></i>
				Rooms
			</a>
		</li>
		<li>
			<a href="" class="btn btn-ghost btn-sm"><i class="fa-solid fa-tower-broadcast"></i> Victims Portal </a>
		</li>
	</ul>
</div>

<div class="md:w-[calc(100%-13rem)] w-full min-h-[80dvh] md:ml-[13rem] flex flex-col">
	{% comment %} SearchBar {% endcomment %}
	<div class="w-full flex p-6">
		<input type="text" class="input input-bordered w-full" placeholder="Search your feed..." />
		<details class="dropdown ml-4">
			<summary class="text-xl btn btn-ghost">
				<i class="fa-solid fa-bars"></i>
			</summary>
			<ul class="p-2 shadow menu dropdown-content z-[1] bg-base-200 rounded-box">
				<h4 class="font-bold my-2 text-center">Filter By</h4>
				<li><a class="whitespace-nowrap">RO Status</a></li>
				<li><a>Region</a></li>
			</ul>
		</details>
		<button class="btn btn-ghost text-xl">
			<div class="indicator">
				<span class="indicator-item badge badge-accent badge-sm"></span>
				<i class="fa-solid fa-bell"></i>
			</div>
		</button>
	</div>

	{% comment %} Feed {% endcomment %}
	<div class="px-6 space-y-6">

		{% for agency in all_agencies %}
		<div
			class="bg-base-200 rounded-xl shadow p-6 hover:shadow-lg hover:bg-neutral hover:cursor-pointer transition duration-300">
			<div class="flex items-center mb-4">
				<div class="indicator mr-4">
					<span class="indicator-item badge badge-sm badge-accent"></span>
					<h3 class="pr-4 text-xl font-bold">{{ agency.name }}</h3>
				</div>
				<p>- {{ agency.locality }}</p>
			</div>
			<p>
				{{ agency.about }}
			</p>
		</div>
		{% endfor %}

		<div
			class="bg-base-200 rounded-xl shadow p-6 hover:shadow-lg hover:bg-neutral hover:cursor-pointer transition duration-300">
			<div class="flex items-center mb-4">
				<div class="indicator mr-4">
					<span class="indicator-item badge badge-sm badge-accent"></span>
					<h3 class="pr-4 text-xl font-bold">Rescue Team 1</h3>
				</div>
				<p>- Region Name</p>
			</div>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit ipsum unde vitae, obcaecati
				deleniti corrupti minima ut inventore dolorum quae numquam neque maxime adipisci cumque, recusandae
				error nisi iusto iure!
			</p>
		</div>
		<div
			class="bg-base-200 rounded-xl shadow p-6 hover:shadow-lg hover:bg-neutral hover:cursor-pointer transition duration-300">
			<div class="flex items-center mb-4">
				<div class="indicator mr-4">
					<span class="indicator-item badge badge-sm badge-error"></span>
					<h3 class="pr-4 text-xl font-bold">Rescue Team 2</h3>
				</div>
				<p>- Region Name</p>
			</div>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit ipsum unde vitae, obcaecati
				deleniti corrupti minima ut inventore dolorum quae numquam neque maxime adipisci cumque, recusandae
				error nisi iusto iure!
			</p>
		</div>
		<div
			class="bg-base-200 rounded-xl shadow p-6 hover:shadow-lg hover:bg-neutral hover:cursor-pointer transition duration-300">
			<div class="flex items-center mb-4">
				<div class="indicator mr-4">
					<span class="indicator-item badge badge-sm badge-warning"></span>
					<h3 class="pr-4 text-xl font-bold">Rescue Team 3</h3>
				</div>
				<p>- Region Name</p>
			</div>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit ipsum unde vitae, obcaecati
				deleniti corrupti minima ut inventore dolorum quae numquam neque maxime adipisci cumque, recusandae
				error nisi iusto iure!
			</p>
		</div>
	</div>
</div>
{% endblock %}
