{% extends 'base.html' %} {% block main %}
    <div
        class="md:h-screen md:w-52 w-full border-r-2 border-base-200 md:fixed flex flex-col justify-between items-center py-4">
        <ul class="md:space-y-4 flex md:flex-col flex-row items-center justify-center">
            <li>
                <a href="{% url 'dashboard' %}" class="btn btn-ghost btn-sm">
                    <i class="fa-solid fa-table-columns"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{% url 'all_agencies' %}" class="btn btn-ghost btn-sm">
                    <i class="fa-solid fa-book"></i>
                    All Agencies
                </a>
            </li>
            <li>
                <a href="{% url 'rooms' %}" class="btn btn-ghost btn-sm">
                    <i class="fa-solid fa-door-open"></i>
                    Rooms
                </a>
            </li>
            <li>
                <a href="{% url 'victims_portal' %}" class="btn btn-ghost btn-sm"><i class="fa-solid fa-tower-broadcast"></i> Victims Portal </a>
            </li>
        </ul>
    </div>
    <div class="md:w-[calc(100%-13rem)] w-full min-h-[80dvh] md:ml-[13rem] flex flex-col p-8">
        <div class="flex justify-between items-center mb-6">
            <h1
                class="text-2xl font-bold"
            >{{ post.title }}</h1>

            <a href="{% url 'agencyPage' %}" class="btn btn-outline btn-accent">
                {{ post.agency.user }}
            </a>



            <a href="{% url 'dashboard' %}" class="btn bg-base-300">Back to feed</a>
        </div>
        <p
            class="text-base mb-8"
        >{{ post.content }}</p>
        <div
            class="flex space-x-6"
        >
            <a href="{% url 'post_edit' post.pk %}" class="btn btn-outline">Edit</a>
            <a href="{% url 'post_delete' post.pk %}" class="btn btn-error btn-outline">Delete</a>
        </div>
    </div>

{% endblock %}