{% extends "base.html" %} {% block main %}

<div class="h-[90dvh] flex items-center justify-center">
	<div>
		<h1 class="text-2xl font-bold text-center mb-4">Request already submitted</h1>
		<p class="max-w-3xl text-center">
			You have already submitted a request for your agency. Please wait while our team reviews your request. You
			will be notified via email once your request is approved.
		</p>

		<a href="{% url 'home' %}" class="block link link-accent no-underline hover:underline text-center mt-4"
			>Go back to home</a
		>
	</div>
</div>

{% endblock main %}
