{% extends 'base.html' %} {% block main %} {% load static %} {% comment %} Vertical Navigation {% endcomment %}
<div
	class="md:h-screen md:w-52 w-full border-r-2 border-base-200 md:fixed flex flex-col justify-between items-center py-4">
	<ul class="md:space-y-4 flex md:flex-col flex-row items-center justify-center">
		<li>
			<a href="{% url 'dashboard' %}" class="btn btn-ghost btn-sm">
				<i class="fa-solid fa-table-columns"></i>
				Dashboard
			</a>
		</li>
		<li>
			<a href="{% url 'rooms' %}" class="btn btn-ghost btn-sm">
				<i class="fa-solid fa-door-open"></i>
				Rooms
			</a>
		</li>
		<li>
			<a href="{% url 'victims_portal' %}" class="btn btn-ghost btn-sm"><i class="fa-solid fa-tower-broadcast"></i> Victims Portal </a>
		</li>
	</ul>
</div>

<div class="md:w-[calc(100%-13rem)] w-full min-h-[80dvh] md:ml-[13rem] flex flex-col p-8">
<h1
    class="text-2xl font-bold mb-2"
>
    Rooms
</h1>
<p>
    Here you can see all the rooms where your rescue team is currently coordinating with other rescue teams.
</p>

<div class="mt-8 space-y-8">
	<div
		class="bg-base-200 rounded-xl shadow p-6 hover:shadow-lg border-base-200">
		<div class="flex items-center mb-4">
				<div class="indicator mr-4">
					<span class="indicator-item badge badge-sm badge-warning"></span>
					<h3 class="pr-4 text-lg font-bold">
						DMAD Rescue Team and NIDM Volunteers
					</h3>
				</div>
				<p>- Operation in progress</p>
			</div>
			<div class="flex flex-col space-y-8 md:flex-row justify-between items-center text-base-content/70 text-sm">
				<div class="flex flex-col justify-center space-y-2">
					<p>
						<i class="fa-solid fa-map-pin"></i> Location: <span class="font-bold">Kerala, India</span>
					</p>
					<p>
						<i class="fa-solid fa-users"></i> No. of People Affected: <span class="font-bold">100</span>
					</p>
					<p>
						<i class="fa-solid fa-clock"></i> Total Time Spent: <span class="font-bold">2h 30m</span>
					</p>
				</div>
				<div>
					<button class="btn btn-sm btn-accent">
						Enter Room
					</button>
					<button
						class="btn btn-error btn-sm ml-2"
						onclick="confirm('Are you sure you want to end this operation?') ? alert('Operation ended successfully!') : null"
					>
						<i class="fa-solid fa-trash"></i>
						End Operation
					</button>
				</div>
			</div>
		</div>
		<div
		class="bg-base-200 rounded-xl shadow p-6 hover:shadow-lg border-base-200">
		<div class="flex items-center mb-4">
				<div class="indicator mr-4">
					<span class="indicator-item badge badge-sm badge-error"></span>
					<h3 class="pr-4 text-lg font-bold">
						NDRF Rescue Team and CDRI Rescue Team
					</h3>
				</div>
				<p>- Operation requires immediate assistance</p>
			</div>
			<div class="flex flex-col space-y-8 md:flex-row justify-between items-center">
				<div class="flex flex-col justify-center space-y-2 text-base-content/70 text-sm">
					<p>
						<i class="fa-solid fa-map-pin"></i> Location: <span class="font-bold">Delhi, India</span>
					</p>
					<p>
						<i class="fa-solid fa-users"></i> No. of People Affected: <span class="font-bold"> +200</span>
					</p>
					<p>
						<i class="fa-solid fa-clock"></i> Total Time Spent: <span class="font-bold">7h 53m</span>
					</p>
				</div>
				<div>
					<button class="btn btn-sm btn-accent">
						Enter Room
					</button>
					<button
						class="btn btn-error btn-sm ml-2"
						onclick="confirm('Are you sure you want to end this operation?') ? alert('Operation ended successfully!') : null"
					>
						<i class="fa-solid fa-trash"></i>
						End Operation
					</button>
				</div>
			</div>
		</div>
</div>
</div>

{% endblock %}